
%table.table
  %thead.thead-dark
    %tr
      %th{:scope => "col"} Nombre
      %th{:scope => "col"} Handler
      %th{:scope => "col"} Último post
  %tbody
    -@accounts.each do |account|
    %tr
      %th{:scope => "row"} 1
      %td Mark
      %td Otto
      %td @mdo
    %tr
      %th{:scope => "row"} 2
      %td Jacob
      %td Thornton
      %td @fat
    %tr
      %th{:scope => "row"} 3
      %td Larry
      %td the Bird
      %td @twitter


= link_to 'Nueva Cuenta', new_account_path